* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.main {
  background-color: #2d383f;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  padding: 10px 6px;
  /* min-height: 380px; */
  border-radius: 10px;
  width: 300px;
  background-color: #b9b4c7;
}
.header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}
#searchbox {
  color: #fff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 0px 15px;
  background-color: #5c5470;
  border: none;
  outline: none;
  width: 80%;
  height: 65%;
  font-size: 15px;
}
::placeholder {
  font-size: 15px;
  color: #faf0e6;
  font-weight: 100;
  opacity: 1; /* Firefox */
}
#searchbutton {
  color: #fff;
  font-size: 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #352f44;
  border: none;
  outline: none;
  height: 65%;
  width: calc(100% - 80%);
}
.weather {
  margin-top: 10px;
  user-select: none;
  width: 100%;
  min-height: 130px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#weathericon {
  width: 120px;
}
#status {
  font-weight: 100;
  color: #352f44;
  font-size: 25px;
}
#cityname {
  color: #352f44;
  font-size: 27px;
}
#temparature {
  font-weight: 100;
  color: #352f44;
  margin-top: 10px;
  font-size: 27px;
}
.lower {
  user-select: none;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: calc(100% - 130px);
}
#humidityicon {
  font-size: 25px;
}
.humidity {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 30%;
  background-color: #5c54702d;
  border-radius: 10px;
}
#humidity {
  font-weight: 200;
  font-size: 20px;
}
.airindex {
  width: 30%;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #5c54702d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#airindex {
  font-weight: 100;
  font-size: 20px;
}
#airindexicon {
  font-size: 25px;
}
p {
  font-size: 12px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.lowertwo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
  user-select: none;
  margin: 20px 0px;
}
.max {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5c54702d;
  padding: 5px 10px;
}
.min {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5c54702d;
  padding: 5px 10px;
}
#maxtempicon{
    font-size: 25px;
}
#mintempicon{
    font-size: 25px;
}
.lowerthree {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    user-select: none;
    margin: 20px 0px;
  }
  .visiblity{
    margin-top: 20px;
  padding: 5px 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5c54702d;
  padding: 5px 10px;
  }
  .content{
    transition: all 0.3s;
    display: none;
  }
  .error{
    display: none;
    text-align: center;
  }
  .error>img{
    width: 60%;
  }